@font-face {
    font-family: 'Futura MdCn BT';
    src: url('../fonts/FuturaBT-MediumCondensed.eot');
    src: url('../fonts/FuturaBT-MediumCondensed.eot?#iefix') format('embedded-opentype'), url('../fonts/FuturaBT-MediumCondensed.woff2') format('woff2'), url('../fonts/FuturaBT-MediumCondensed.woff') format('woff'), url('../fonts/FuturaBT-MediumCondensed.ttf') format('truetype'), url('../fonts/FuturaBT-MediumCondensed.svg#FuturaBT-MediumCondensed') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura BdCn BT';
    src: url('../fonts/FuturaBT-BoldCondensed.eot');
    src: url('../fonts/FuturaBT-BoldCondensed.eot?#iefix') format('embedded-opentype'), url('../fonts/FuturaBT-BoldCondensed.woff2') format('woff2'), url('../fonts/FuturaBT-BoldCondensed.woff') format('woff'), url('../fonts/FuturaBT-BoldCondensed.ttf') format('truetype'), url('../fonts/FuturaBT-BoldCondensed.svg#FuturaBT-BoldCondensed') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}