@charset "UTF-8";
@import "./owl.carousel.min.css";
@import "./owl.theme.default.min.css";
@import "fonts.css";
h1,
h2,
h3,
h4,
h5 {
  color: #FFFFFF;
  margin-bottom: 0;
}

h1 {
  font-weight: 600;
  font-size: 36px;
}

h2 {
  font-family: "Futura";
  font-size: 30px;
}

h3 {
  font-weight: 600;
  font-size: 28px;
}

h4 {
  font-weight: 600;
  font-size: 24px;
}

.font-size-10 {
  font-size: 10px;
}

.font-size-12 {
  font-size: 12px;
}

.font-size-13 {
  font-size: 13px;
}

.font-size-14 {
  font-size: 14px !important;
}

.font-size-15 {
  font-size: 15px !important;
}

.font-size-16 {
  font-size: 16px !important;
}

.font-size-18 {
  font-size: 18px;
}

.font-size-20 {
  font-size: 20px;
}

.font-size-24 {
  font-size: 24px;
}

.font-size-28 {
  font-size: 28px !important;
}

.font-size-36 {
  font-size: 36px;
}

.font-size-39 {
  font-size: 39px !important;
}

.text-info {
  color: #7DC1D1 !important;
}

.text-dark {
  color: #15232B !important;
}

.text-primary {
  color: #5A7591 !important;
}

.text-warning {
  color: #BF6F46 !important;
}

.text-danger {
  color: #EE2F3F !important;
}

.bg-transparent {
  background-color: #F7F8FA !important;
}

.bg-primary {
  background-color: #5A7591 !important;
}

.bg-info {
  background-color: #7DC1D1 !important;
}

.bg-progress {
  background-color: #44ADBF !important;
}

.bg-gold {
  background-color: #DFAD94 !important;
}

.bg-progress-gold {
  background-color: #FBBB93 !important;
}

.bg-warning {
  background-color: #BF6F46 !important;
}

.border-color-info {
  border-color: #44ADBF !important;
}

.border-color-warning {
  border-color: #BF6F46 !important;
}

.border {
  border: 3px solid #44ADBF !important;
}

.fw-bolder {
  font-family: "Futura Md BT";
  font-weight: 500 !important;
}

.pt-20px {
  padding-top: 20px;
}

.pt-36px {
  padding-top: 36px;
}

.pt-67px {
  padding-top: 67px;
}

.pt-140px {
  padding-top: 140px;
}

.mt-42px {
  margin-top: 42px;
}

.pb-36px {
  padding-bottom: 36px;
}

.pb-80px {
  padding-bottom: 80px;
}

.pb-140px {
  padding-bottom: 140px;
}

.mb-34px {
  margin-bottom: 34px;
}

.mt-98px {
  margin-top: 98px;
}

.progress {
  height: 12px;
  background-color: #5A7591;
  border-radius: 72px;
}

.progress-circle.progress {
  width: 48px;
  height: 48px !important;
  background: none;
  box-shadow: none;
  position: relative;
}
.progress-circle:after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-circle.progress-circle-primary:after {
  border: 8px solid #CFEBF1;
}
.progress-circle.progress-circle-primary .progress-bar {
  border-color: #44ADBF;
}
.progress-circle.progress-circle-warning:after {
  border: 8px solid rgba(219, 176, 145, 0.5);
}
.progress-circle.progress-circle-warning .progress-bar {
  border-color: #DF6729;
}
.progress-circle span {
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 1;
}
.progress-circle .progress-bar {
  width: 100%;
  height: 100%;
  background: none;
  border-width: 8px;
  border-style: solid;
  position: absolute;
  top: 0;
}
.progress-circle .progress-left {
  left: 0;
}
.progress-circle .progress-left .progress-bar {
  left: 100%;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border-left: 0;
  -webkit-transform-origin: center left;
  transform-origin: center left;
}
.progress-circle .progress-right {
  right: 0;
}
.progress-circle .progress-right .progress-bar {
  left: -100%;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border-right: 0;
  -webkit-transform-origin: center right;
  transform-origin: center right;
  animation: loading-1 1.8s linear forwards;
}
.progress-circle .progress-value {
  width: 90%;
  height: 90%;
  border-radius: 50%;
  background: transparent;
  position: absolute;
  top: 5%;
  left: 5%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

/**
 * Progress bar styles and animation definitions
 */
.progress[data-value="1"] .progress-right .progress-bar {
  animation: loading-1 0.8s linear forwards;
}
.progress[data-value="1"] .progress-left .progress-bar {
  animation: 0;
}

.progress[data-value="2"] .progress-right .progress-bar {
  animation: loading-2 0.8s linear forwards;
}
.progress[data-value="2"] .progress-left .progress-bar {
  animation: 0;
}

.progress[data-value="3"] .progress-right .progress-bar {
  animation: loading-3 0.8s linear forwards;
}
.progress[data-value="3"] .progress-left .progress-bar {
  animation: 0;
}

.progress[data-value="4"] .progress-right .progress-bar {
  animation: loading-4 0.8s linear forwards;
}
.progress[data-value="4"] .progress-left .progress-bar {
  animation: 0;
}

.progress[data-value="5"] .progress-right .progress-bar {
  animation: loading-5 0.8s linear forwards;
}
.progress[data-value="5"] .progress-left .progress-bar {
  animation: 0;
}

.progress[data-value="6"] .progress-right .progress-bar {
  animation: loading-6 0.8s linear forwards;
}
.progress[data-value="6"] .progress-left .progress-bar {
  animation: 0;
}

.progress[data-value="7"] .progress-right .progress-bar {
  animation: loading-7 0.8s linear forwards;
}
.progress[data-value="7"] .progress-left .progress-bar {
  animation: 0;
}

.progress[data-value="8"] .progress-right .progress-bar {
  animation: loading-8 0.8s linear forwards;
}
.progress[data-value="8"] .progress-left .progress-bar {
  animation: 0;
}

.progress[data-value="9"] .progress-right .progress-bar {
  animation: loading-9 0.8s linear forwards;
}
.progress[data-value="9"] .progress-left .progress-bar {
  animation: 0;
}

.progress[data-value="10"] .progress-right .progress-bar {
  animation: loading-10 0.8s linear forwards;
}
.progress[data-value="10"] .progress-left .progress-bar {
  animation: 0;
}

.progress[data-value="11"] .progress-right .progress-bar {
  animation: loading-11 0.8s linear forwards;
}
.progress[data-value="11"] .progress-left .progress-bar {
  animation: 0;
}

.progress[data-value="12"] .progress-right .progress-bar {
  animation: loading-12 0.8s linear forwards;
}
.progress[data-value="12"] .progress-left .progress-bar {
  animation: 0;
}

.progress[data-value="13"] .progress-right .progress-bar {
  animation: loading-13 0.8s linear forwards;
}
.progress[data-value="13"] .progress-left .progress-bar {
  animation: 0;
}

.progress[data-value="14"] .progress-right .progress-bar {
  animation: loading-14 0.8s linear forwards;
}
.progress[data-value="14"] .progress-left .progress-bar {
  animation: 0;
}

.progress[data-value="15"] .progress-right .progress-bar {
  animation: loading-15 0.8s linear forwards;
}
.progress[data-value="15"] .progress-left .progress-bar {
  animation: 0;
}

.progress[data-value="16"] .progress-right .progress-bar {
  animation: loading-16 0.8s linear forwards;
}
.progress[data-value="16"] .progress-left .progress-bar {
  animation: 0;
}

.progress[data-value="17"] .progress-right .progress-bar {
  animation: loading-17 0.8s linear forwards;
}
.progress[data-value="17"] .progress-left .progress-bar {
  animation: 0;
}

.progress[data-value="18"] .progress-right .progress-bar {
  animation: loading-18 0.8s linear forwards;
}
.progress[data-value="18"] .progress-left .progress-bar {
  animation: 0;
}

.progress[data-value="19"] .progress-right .progress-bar {
  animation: loading-19 0.8s linear forwards;
}
.progress[data-value="19"] .progress-left .progress-bar {
  animation: 0;
}

.progress[data-value="20"] .progress-right .progress-bar {
  animation: loading-20 0.8s linear forwards;
}
.progress[data-value="20"] .progress-left .progress-bar {
  animation: 0;
}

.progress[data-value="21"] .progress-right .progress-bar {
  animation: loading-21 0.8s linear forwards;
}
.progress[data-value="21"] .progress-left .progress-bar {
  animation: 0;
}

.progress[data-value="22"] .progress-right .progress-bar {
  animation: loading-22 0.8s linear forwards;
}
.progress[data-value="22"] .progress-left .progress-bar {
  animation: 0;
}

.progress[data-value="23"] .progress-right .progress-bar {
  animation: loading-23 0.8s linear forwards;
}
.progress[data-value="23"] .progress-left .progress-bar {
  animation: 0;
}

.progress[data-value="24"] .progress-right .progress-bar {
  animation: loading-24 0.8s linear forwards;
}
.progress[data-value="24"] .progress-left .progress-bar {
  animation: 0;
}

.progress[data-value="25"] .progress-right .progress-bar {
  animation: loading-25 0.8s linear forwards;
}
.progress[data-value="25"] .progress-left .progress-bar {
  animation: 0;
}

.progress[data-value="26"] .progress-right .progress-bar {
  animation: loading-26 0.8s linear forwards;
}
.progress[data-value="26"] .progress-left .progress-bar {
  animation: 0;
}

.progress[data-value="27"] .progress-right .progress-bar {
  animation: loading-27 0.8s linear forwards;
}
.progress[data-value="27"] .progress-left .progress-bar {
  animation: 0;
}

.progress[data-value="28"] .progress-right .progress-bar {
  animation: loading-28 0.8s linear forwards;
}
.progress[data-value="28"] .progress-left .progress-bar {
  animation: 0;
}

.progress[data-value="29"] .progress-right .progress-bar {
  animation: loading-29 0.8s linear forwards;
}
.progress[data-value="29"] .progress-left .progress-bar {
  animation: 0;
}

.progress[data-value="30"] .progress-right .progress-bar {
  animation: loading-30 0.8s linear forwards;
}
.progress[data-value="30"] .progress-left .progress-bar {
  animation: 0;
}

.progress[data-value="31"] .progress-right .progress-bar {
  animation: loading-31 0.8s linear forwards;
}
.progress[data-value="31"] .progress-left .progress-bar {
  animation: 0;
}

.progress[data-value="32"] .progress-right .progress-bar {
  animation: loading-32 0.8s linear forwards;
}
.progress[data-value="32"] .progress-left .progress-bar {
  animation: 0;
}

.progress[data-value="33"] .progress-right .progress-bar {
  animation: loading-33 0.8s linear forwards;
}
.progress[data-value="33"] .progress-left .progress-bar {
  animation: 0;
}

.progress[data-value="34"] .progress-right .progress-bar {
  animation: loading-34 0.8s linear forwards;
}
.progress[data-value="34"] .progress-left .progress-bar {
  animation: 0;
}

.progress[data-value="35"] .progress-right .progress-bar {
  animation: loading-35 0.8s linear forwards;
}
.progress[data-value="35"] .progress-left .progress-bar {
  animation: 0;
}

.progress[data-value="36"] .progress-right .progress-bar {
  animation: loading-36 0.8s linear forwards;
}
.progress[data-value="36"] .progress-left .progress-bar {
  animation: 0;
}

.progress[data-value="37"] .progress-right .progress-bar {
  animation: loading-37 0.8s linear forwards;
}
.progress[data-value="37"] .progress-left .progress-bar {
  animation: 0;
}

.progress[data-value="38"] .progress-right .progress-bar {
  animation: loading-38 0.8s linear forwards;
}
.progress[data-value="38"] .progress-left .progress-bar {
  animation: 0;
}

.progress[data-value="39"] .progress-right .progress-bar {
  animation: loading-39 0.8s linear forwards;
}
.progress[data-value="39"] .progress-left .progress-bar {
  animation: 0;
}

.progress[data-value="40"] .progress-right .progress-bar {
  animation: loading-40 0.8s linear forwards;
}
.progress[data-value="40"] .progress-left .progress-bar {
  animation: 0;
}

.progress[data-value="41"] .progress-right .progress-bar {
  animation: loading-41 0.8s linear forwards;
}
.progress[data-value="41"] .progress-left .progress-bar {
  animation: 0;
}

.progress[data-value="42"] .progress-right .progress-bar {
  animation: loading-42 0.8s linear forwards;
}
.progress[data-value="42"] .progress-left .progress-bar {
  animation: 0;
}

.progress[data-value="43"] .progress-right .progress-bar {
  animation: loading-43 0.8s linear forwards;
}
.progress[data-value="43"] .progress-left .progress-bar {
  animation: 0;
}

.progress[data-value="44"] .progress-right .progress-bar {
  animation: loading-44 0.8s linear forwards;
}
.progress[data-value="44"] .progress-left .progress-bar {
  animation: 0;
}

.progress[data-value="45"] .progress-right .progress-bar {
  animation: loading-45 0.8s linear forwards;
}
.progress[data-value="45"] .progress-left .progress-bar {
  animation: 0;
}

.progress[data-value="46"] .progress-right .progress-bar {
  animation: loading-46 0.8s linear forwards;
}
.progress[data-value="46"] .progress-left .progress-bar {
  animation: 0;
}

.progress[data-value="47"] .progress-right .progress-bar {
  animation: loading-47 0.8s linear forwards;
}
.progress[data-value="47"] .progress-left .progress-bar {
  animation: 0;
}

.progress[data-value="48"] .progress-right .progress-bar {
  animation: loading-48 0.8s linear forwards;
}
.progress[data-value="48"] .progress-left .progress-bar {
  animation: 0;
}

.progress[data-value="49"] .progress-right .progress-bar {
  animation: loading-49 0.8s linear forwards;
}
.progress[data-value="49"] .progress-left .progress-bar {
  animation: 0;
}

.progress[data-value="50"] .progress-right .progress-bar {
  animation: loading-50 0.8s linear forwards;
}
.progress[data-value="50"] .progress-left .progress-bar {
  animation: 0;
}

.progress[data-value="51"] .progress-right .progress-bar {
  animation: loading-50 0.8s linear forwards;
}
.progress[data-value="51"] .progress-left .progress-bar {
  animation: loading-1 0.8s linear forwards 0.8s;
}

.progress[data-value="52"] .progress-right .progress-bar {
  animation: loading-50 0.8s linear forwards;
}
.progress[data-value="52"] .progress-left .progress-bar {
  animation: loading-2 0.8s linear forwards 0.8s;
}

.progress[data-value="53"] .progress-right .progress-bar {
  animation: loading-50 0.8s linear forwards;
}
.progress[data-value="53"] .progress-left .progress-bar {
  animation: loading-3 0.8s linear forwards 0.8s;
}

.progress[data-value="54"] .progress-right .progress-bar {
  animation: loading-50 0.8s linear forwards;
}
.progress[data-value="54"] .progress-left .progress-bar {
  animation: loading-4 0.8s linear forwards 0.8s;
}

.progress[data-value="55"] .progress-right .progress-bar {
  animation: loading-50 0.8s linear forwards;
}
.progress[data-value="55"] .progress-left .progress-bar {
  animation: loading-5 0.8s linear forwards 0.8s;
}

.progress[data-value="56"] .progress-right .progress-bar {
  animation: loading-50 0.8s linear forwards;
}
.progress[data-value="56"] .progress-left .progress-bar {
  animation: loading-6 0.8s linear forwards 0.8s;
}

.progress[data-value="57"] .progress-right .progress-bar {
  animation: loading-50 0.8s linear forwards;
}
.progress[data-value="57"] .progress-left .progress-bar {
  animation: loading-7 0.8s linear forwards 0.8s;
}

.progress[data-value="58"] .progress-right .progress-bar {
  animation: loading-50 0.8s linear forwards;
}
.progress[data-value="58"] .progress-left .progress-bar {
  animation: loading-8 0.8s linear forwards 0.8s;
}

.progress[data-value="59"] .progress-right .progress-bar {
  animation: loading-50 0.8s linear forwards;
}
.progress[data-value="59"] .progress-left .progress-bar {
  animation: loading-9 0.8s linear forwards 0.8s;
}

.progress[data-value="60"] .progress-right .progress-bar {
  animation: loading-50 0.8s linear forwards;
}
.progress[data-value="60"] .progress-left .progress-bar {
  animation: loading-10 0.8s linear forwards 0.8s;
}

.progress[data-value="61"] .progress-right .progress-bar {
  animation: loading-50 0.8s linear forwards;
}
.progress[data-value="61"] .progress-left .progress-bar {
  animation: loading-11 0.8s linear forwards 0.8s;
}

.progress[data-value="62"] .progress-right .progress-bar {
  animation: loading-50 0.8s linear forwards;
}
.progress[data-value="62"] .progress-left .progress-bar {
  animation: loading-12 0.8s linear forwards 0.8s;
}

.progress[data-value="63"] .progress-right .progress-bar {
  animation: loading-50 0.8s linear forwards;
}
.progress[data-value="63"] .progress-left .progress-bar {
  animation: loading-13 0.8s linear forwards 0.8s;
}

.progress[data-value="64"] .progress-right .progress-bar {
  animation: loading-50 0.8s linear forwards;
}
.progress[data-value="64"] .progress-left .progress-bar {
  animation: loading-14 0.8s linear forwards 0.8s;
}

.progress[data-value="65"] .progress-right .progress-bar {
  animation: loading-50 0.8s linear forwards;
}
.progress[data-value="65"] .progress-left .progress-bar {
  animation: loading-15 0.8s linear forwards 0.8s;
}

.progress[data-value="66"] .progress-right .progress-bar {
  animation: loading-50 0.8s linear forwards;
}
.progress[data-value="66"] .progress-left .progress-bar {
  animation: loading-16 0.8s linear forwards 0.8s;
}

.progress[data-value="67"] .progress-right .progress-bar {
  animation: loading-50 0.8s linear forwards;
}
.progress[data-value="67"] .progress-left .progress-bar {
  animation: loading-17 0.8s linear forwards 0.8s;
}

.progress[data-value="68"] .progress-right .progress-bar {
  animation: loading-50 0.8s linear forwards;
}
.progress[data-value="68"] .progress-left .progress-bar {
  animation: loading-18 0.8s linear forwards 0.8s;
}

.progress[data-value="69"] .progress-right .progress-bar {
  animation: loading-50 0.8s linear forwards;
}
.progress[data-value="69"] .progress-left .progress-bar {
  animation: loading-19 0.8s linear forwards 0.8s;
}

.progress[data-value="70"] .progress-right .progress-bar {
  animation: loading-50 0.8s linear forwards;
}
.progress[data-value="70"] .progress-left .progress-bar {
  animation: loading-20 0.8s linear forwards 0.8s;
}

.progress[data-value="71"] .progress-right .progress-bar {
  animation: loading-50 0.8s linear forwards;
}
.progress[data-value="71"] .progress-left .progress-bar {
  animation: loading-21 0.8s linear forwards 0.8s;
}

.progress[data-value="72"] .progress-right .progress-bar {
  animation: loading-50 0.8s linear forwards;
}
.progress[data-value="72"] .progress-left .progress-bar {
  animation: loading-22 0.8s linear forwards 0.8s;
}

.progress[data-value="73"] .progress-right .progress-bar {
  animation: loading-50 0.8s linear forwards;
}
.progress[data-value="73"] .progress-left .progress-bar {
  animation: loading-23 0.8s linear forwards 0.8s;
}

.progress[data-value="74"] .progress-right .progress-bar {
  animation: loading-50 0.8s linear forwards;
}
.progress[data-value="74"] .progress-left .progress-bar {
  animation: loading-24 0.8s linear forwards 0.8s;
}

.progress[data-value="75"] .progress-right .progress-bar {
  animation: loading-50 0.8s linear forwards;
}
.progress[data-value="75"] .progress-left .progress-bar {
  animation: loading-25 0.8s linear forwards 0.8s;
}

.progress[data-value="76"] .progress-right .progress-bar {
  animation: loading-50 0.8s linear forwards;
}
.progress[data-value="76"] .progress-left .progress-bar {
  animation: loading-26 0.8s linear forwards 0.8s;
}

.progress[data-value="77"] .progress-right .progress-bar {
  animation: loading-50 0.8s linear forwards;
}
.progress[data-value="77"] .progress-left .progress-bar {
  animation: loading-27 0.8s linear forwards 0.8s;
}

.progress[data-value="78"] .progress-right .progress-bar {
  animation: loading-50 0.8s linear forwards;
}
.progress[data-value="78"] .progress-left .progress-bar {
  animation: loading-28 0.8s linear forwards 0.8s;
}

.progress[data-value="79"] .progress-right .progress-bar {
  animation: loading-50 0.8s linear forwards;
}
.progress[data-value="79"] .progress-left .progress-bar {
  animation: loading-29 0.8s linear forwards 0.8s;
}

.progress[data-value="80"] .progress-right .progress-bar {
  animation: loading-50 0.8s linear forwards;
}
.progress[data-value="80"] .progress-left .progress-bar {
  animation: loading-30 0.8s linear forwards 0.8s;
}

.progress[data-value="81"] .progress-right .progress-bar {
  animation: loading-50 0.8s linear forwards;
}
.progress[data-value="81"] .progress-left .progress-bar {
  animation: loading-31 0.8s linear forwards 0.8s;
}

.progress[data-value="82"] .progress-right .progress-bar {
  animation: loading-50 0.8s linear forwards;
}
.progress[data-value="82"] .progress-left .progress-bar {
  animation: loading-32 0.8s linear forwards 0.8s;
}

.progress[data-value="83"] .progress-right .progress-bar {
  animation: loading-50 0.8s linear forwards;
}
.progress[data-value="83"] .progress-left .progress-bar {
  animation: loading-33 0.8s linear forwards 0.8s;
}

.progress[data-value="84"] .progress-right .progress-bar {
  animation: loading-50 0.8s linear forwards;
}
.progress[data-value="84"] .progress-left .progress-bar {
  animation: loading-34 0.8s linear forwards 0.8s;
}

.progress[data-value="85"] .progress-right .progress-bar {
  animation: loading-50 0.8s linear forwards;
}
.progress[data-value="85"] .progress-left .progress-bar {
  animation: loading-35 0.8s linear forwards 0.8s;
}

.progress[data-value="86"] .progress-right .progress-bar {
  animation: loading-50 0.8s linear forwards;
}
.progress[data-value="86"] .progress-left .progress-bar {
  animation: loading-36 0.8s linear forwards 0.8s;
}

.progress[data-value="87"] .progress-right .progress-bar {
  animation: loading-50 0.8s linear forwards;
}
.progress[data-value="87"] .progress-left .progress-bar {
  animation: loading-37 0.8s linear forwards 0.8s;
}

.progress[data-value="88"] .progress-right .progress-bar {
  animation: loading-50 0.8s linear forwards;
}
.progress[data-value="88"] .progress-left .progress-bar {
  animation: loading-38 0.8s linear forwards 0.8s;
}

.progress[data-value="89"] .progress-right .progress-bar {
  animation: loading-50 0.8s linear forwards;
}
.progress[data-value="89"] .progress-left .progress-bar {
  animation: loading-39 0.8s linear forwards 0.8s;
}

.progress[data-value="90"] .progress-right .progress-bar {
  animation: loading-50 0.8s linear forwards;
}
.progress[data-value="90"] .progress-left .progress-bar {
  animation: loading-40 0.8s linear forwards 0.8s;
}

.progress[data-value="91"] .progress-right .progress-bar {
  animation: loading-50 0.8s linear forwards;
}
.progress[data-value="91"] .progress-left .progress-bar {
  animation: loading-41 0.8s linear forwards 0.8s;
}

.progress[data-value="92"] .progress-right .progress-bar {
  animation: loading-50 0.8s linear forwards;
}
.progress[data-value="92"] .progress-left .progress-bar {
  animation: loading-42 0.8s linear forwards 0.8s;
}

.progress[data-value="93"] .progress-right .progress-bar {
  animation: loading-50 0.8s linear forwards;
}
.progress[data-value="93"] .progress-left .progress-bar {
  animation: loading-43 0.8s linear forwards 0.8s;
}

.progress[data-value="94"] .progress-right .progress-bar {
  animation: loading-50 0.8s linear forwards;
}
.progress[data-value="94"] .progress-left .progress-bar {
  animation: loading-44 0.8s linear forwards 0.8s;
}

.progress[data-value="95"] .progress-right .progress-bar {
  animation: loading-50 0.8s linear forwards;
}
.progress[data-value="95"] .progress-left .progress-bar {
  animation: loading-45 0.8s linear forwards 0.8s;
}

.progress[data-value="96"] .progress-right .progress-bar {
  animation: loading-50 0.8s linear forwards;
}
.progress[data-value="96"] .progress-left .progress-bar {
  animation: loading-46 0.8s linear forwards 0.8s;
}

.progress[data-value="97"] .progress-right .progress-bar {
  animation: loading-50 0.8s linear forwards;
}
.progress[data-value="97"] .progress-left .progress-bar {
  animation: loading-47 0.8s linear forwards 0.8s;
}

.progress[data-value="98"] .progress-right .progress-bar {
  animation: loading-50 0.8s linear forwards;
}
.progress[data-value="98"] .progress-left .progress-bar {
  animation: loading-48 0.8s linear forwards 0.8s;
}

.progress[data-value="99"] .progress-right .progress-bar {
  animation: loading-50 0.8s linear forwards;
}
.progress[data-value="99"] .progress-left .progress-bar {
  animation: loading-49 0.8s linear forwards 0.8s;
}

.progress[data-value="100"] .progress-right .progress-bar {
  animation: loading-50 0.8s linear forwards;
}
.progress[data-value="100"] .progress-left .progress-bar {
  animation: loading-50 0.8s linear forwards 0.8s;
}

@keyframes loading-1 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(3.6);
    transform: rotate(3.6deg);
  }
}
@keyframes loading-2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(7.2);
    transform: rotate(7.2deg);
  }
}
@keyframes loading-3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(10.8);
    transform: rotate(10.8deg);
  }
}
@keyframes loading-4 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(14.4);
    transform: rotate(14.4deg);
  }
}
@keyframes loading-5 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(18);
    transform: rotate(18deg);
  }
}
@keyframes loading-6 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(21.6);
    transform: rotate(21.6deg);
  }
}
@keyframes loading-7 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(25.2);
    transform: rotate(25.2deg);
  }
}
@keyframes loading-8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(28.8);
    transform: rotate(28.8deg);
  }
}
@keyframes loading-9 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(32.4);
    transform: rotate(32.4deg);
  }
}
@keyframes loading-10 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(36);
    transform: rotate(36deg);
  }
}
@keyframes loading-11 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(39.6);
    transform: rotate(39.6deg);
  }
}
@keyframes loading-12 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(43.2);
    transform: rotate(43.2deg);
  }
}
@keyframes loading-13 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(46.8);
    transform: rotate(46.8deg);
  }
}
@keyframes loading-14 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(50.4);
    transform: rotate(50.4deg);
  }
}
@keyframes loading-15 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(54);
    transform: rotate(54deg);
  }
}
@keyframes loading-16 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(57.6);
    transform: rotate(57.6deg);
  }
}
@keyframes loading-17 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(61.2);
    transform: rotate(61.2deg);
  }
}
@keyframes loading-18 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(64.8);
    transform: rotate(64.8deg);
  }
}
@keyframes loading-19 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(68.4);
    transform: rotate(68.4deg);
  }
}
@keyframes loading-20 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(72);
    transform: rotate(72deg);
  }
}
@keyframes loading-21 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(75.6);
    transform: rotate(75.6deg);
  }
}
@keyframes loading-22 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(79.2);
    transform: rotate(79.2deg);
  }
}
@keyframes loading-23 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(82.8);
    transform: rotate(82.8deg);
  }
}
@keyframes loading-24 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(86.4);
    transform: rotate(86.4deg);
  }
}
@keyframes loading-25 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(90);
    transform: rotate(90deg);
  }
}
@keyframes loading-26 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(93.6);
    transform: rotate(93.6deg);
  }
}
@keyframes loading-27 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(97.2);
    transform: rotate(97.2deg);
  }
}
@keyframes loading-28 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(100.8);
    transform: rotate(100.8deg);
  }
}
@keyframes loading-29 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(104.4);
    transform: rotate(104.4deg);
  }
}
@keyframes loading-30 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(108);
    transform: rotate(108deg);
  }
}
@keyframes loading-31 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(111.6);
    transform: rotate(111.6deg);
  }
}
@keyframes loading-32 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(115.2);
    transform: rotate(115.2deg);
  }
}
@keyframes loading-33 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(118.8);
    transform: rotate(118.8deg);
  }
}
@keyframes loading-34 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(122.4);
    transform: rotate(122.4deg);
  }
}
@keyframes loading-35 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(126);
    transform: rotate(126deg);
  }
}
@keyframes loading-36 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(129.6);
    transform: rotate(129.6deg);
  }
}
@keyframes loading-37 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(133.2);
    transform: rotate(133.2deg);
  }
}
@keyframes loading-38 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(136.8);
    transform: rotate(136.8deg);
  }
}
@keyframes loading-39 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(140.4);
    transform: rotate(140.4deg);
  }
}
@keyframes loading-40 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(144);
    transform: rotate(144deg);
  }
}
@keyframes loading-41 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(147.6);
    transform: rotate(147.6deg);
  }
}
@keyframes loading-42 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(151.2);
    transform: rotate(151.2deg);
  }
}
@keyframes loading-43 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(154.8);
    transform: rotate(154.8deg);
  }
}
@keyframes loading-44 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(158.4);
    transform: rotate(158.4deg);
  }
}
@keyframes loading-45 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(162);
    transform: rotate(162deg);
  }
}
@keyframes loading-46 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(165.6);
    transform: rotate(165.6deg);
  }
}
@keyframes loading-47 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(169.2);
    transform: rotate(169.2deg);
  }
}
@keyframes loading-48 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(172.8);
    transform: rotate(172.8deg);
  }
}
@keyframes loading-49 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(176.4);
    transform: rotate(176.4deg);
  }
}
@keyframes loading-50 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(180);
    transform: rotate(180deg);
  }
}
body {
  font-family: "Futura Lt BT", sans-serif;
  background-color: #395765;
}

a {
  text-decoration: none;
}

p {
  margin-bottom: 0;
  color: #15232B;
}

.main {
  background: linear-gradient(97.09deg, #132028 3.83%, #395765 98.1%);
}

.btn {
  font-size: 18px;
  border-radius: 72px;
  padding: 15px 35px;
  color: #FFFFFF;
  border: none;
}

.btn-success {
  background-color: #32E28E;
}
.btn-success:hover {
  background-color: #32E28E;
}

.btn-check:focus + .btn-success,
.btn-success:focus {
  background-color: #32E28E;
  border: none;
  box-shadow: none;
}

.btn-secondary {
  background-color: #8F9FB1;
}

.btn-info {
  background-color: #7DC1D1;
}
.btn-info:hover {
  color: #FFFFFF;
  background-color: #7DC1D1;
  border: none;
  box-shadow: none;
}

.btn-check:focus + .btn-info,
.btn-info:focus {
  color: #FFFFFF;
  background-color: #7DC1D1;
  border-color: #7DC1D1;
  box-shadow: none;
}

.btn-check:active + .btn-info:focus,
.btn-check:checked + .btn-info:focus,
.btn-info.active:focus,
.btn-info:active:focus,
.show > .btn-info.dropdown-toggle:focus {
  box-shadow: none;
}

.btn-white {
  padding: 13px 28px;
  background: #F7F8F9;
  border: 1px solid rgba(68, 173, 191, 0.2);
  border-radius: 61px;
  color: #606E7B;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.circle-style {
  margin: auto;
  background-color: #FFFFFF;
  width: 68px;
  height: 68px;
  position: relative;
}
.circle-style img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.circle-style::before {
  position: absolute;
  top: -10px;
  right: 0;
  font-family: "icomoon";
  content: "";
  color: #32e28e;
  font-size: 24px;
}

.alert-circle-style {
  background-color: #7DC1D1;
  width: 57px;
  height: 57px;
  position: relative;
}
.alert-circle-style img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.train-circle-style {
  background-color: #FFFFFF;
  width: 120px;
  height: 120px;
  position: relative;
}
.train-circle-style img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.alert-info {
  font-size: 14px;
  line-height: 18px;
  color: #15232B;
  background-color: #CFEBF1;
  border: none;
  border-radius: 30px;
}

.close {
  border: none !important;
  background-color: transparent !important;
  opacity: 1;
}

.heading-border-bottom {
  position: relative;
  padding-bottom: 28px;
}
.heading-border-bottom::after {
  content: "";
  display: block;
  height: 7px;
  width: 167px;
  background-color: #7DC1D1;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -92px;
}

.descr-border-bottom {
  position: relative;
  padding-bottom: 20px;
}
.descr-border-bottom::after {
  content: "";
  display: block;
  width: 199px;
  color: #7DC1D1;
  border-width: 1px;
  border-style: dashed solid;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -92px;
}

.modal-dialog .modal-content {
  background: #F7F8F9;
  border-radius: 30px;
}

.modal-dialog.progress-dialog .modal-content {
  background: transparent;
  border: none;
}

.modal-backdrop {
  background: linear-gradient(97.09deg, #132028 3.83%, #395765 98.1%);
  background: rgba(34, 45, 55, 0.9);
}
.modal-backdrop.show {
  opacity: initial;
}

.wifi {
  background: url("../images/wifi-bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.card-bg-style {
  background: linear-gradient(97.09deg, rgba(57, 75, 85, 0.9) 3.83%, rgba(57, 87, 101, 0.9) 98.1%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.form-control {
  font-family: "Futura Lt BT";
  font-style: italic;
  font-weight: 300;
  border: 3px solid #FFFFFF;
  border-radius: 6px;
  padding: 8px 17px;
  color: #15232B;
}
.form-control:focus {
  box-shadow: none;
  border-color: #7DC1D1 !important;
}
.form-control::placeholder {
  color: rgba(96, 110, 123, 0.5);
  opacity: 1;
}
.form-control.active {
  border: 4px solid #7DC1D1;
}

.form-label {
  font-family: "Futura Lt BT";
  font-weight: 600;
  font-size: 16px;
  color: #FFFFFF;
  margin-bottom: 4px;
}

textarea {
  resize: none;
}

/* Custom select */
.custom-select {
  position: relative;
}
.custom-select select {
  display: none;
}
.custom-select .select-selected {
  background-color: #FFFFFF;
  text-align: start;
  border: 3px solid #FFFFFF;
}
.custom-select .select-selected::after {
  font-family: "icomoon";
  content: "";
  color: #5a7591;
  position: absolute;
  font-size: 10px;
  display: inline-block;
  padding: 3px;
  right: 15px;
  top: 15px;
}
.custom-select .select-selected.select-arrow-active {
  border: 3px solid #7DC1D1;
}
.custom-select .select-arrow-active:after {
  transform: rotate(180deg);
  top: 10px;
}
.custom-select .select-items {
  position: absolute;
  background-color: #FFFFFF;
  border-radius: 6px;
  text-align: start;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}
.custom-select .select-items .same-as-selected {
  background-color: #A4CFD8;
}
.custom-select .select-items div,
.custom-select .select-selected {
  font-family: "Futura Lt BT";
  font-weight: 300 !important;
  font-size: 16px;
  color: #8C9090;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
  user-select: none;
}
.custom-select .select-hide {
  display: none;
}

.profile-select.custom-select .select-selected {
  background-color: #F7F8FA;
  border: 3px solid #F7F8FA;
}

.navbar.footer-navbar {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
.navbar.footer-navbar a {
  font-weight: 600;
  color: #3B4B5B;
  font-size: 16px;
  text-decoration: none;
}
.navbar.footer-navbar a.active {
  color: #44ADBF;
}

.navbar-light .navbar-nav {
  flex-direction: row;
}
.navbar-light .navbar-nav .nav-link {
  color: #FFFFFF;
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show > .nav-link {
  color: #44ADBF;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: #FFFFFF;
}

footer {
  background-image: url("../images/waves-white-big.png");
  background: url("../images/waves-white-big.png"), #3B4B5B;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.rounded-pill-30px {
  border-radius: 30px !important;
}

.rounded-pill-16px {
  border-radius: 16px;
}

.owl-carousel .owl-nav button.owl-prev {
  background-image: none;
  width: 48px;
  height: 48px;
  background-color: #7DC1D1;
  border-radius: 50%;
  position: absolute;
  top: 65px;
  left: -70px;
}
.owl-carousel .owl-nav button.owl-prev span {
  display: none;
}
.owl-carousel .owl-nav button.owl-prev::before {
  font-family: "icomoon";
  content: "";
  color: #fff;
}
.owl-carousel .owl-nav button.owl-next {
  background-image: none;
  width: 48px;
  height: 48px;
  background-color: #7DC1D1;
  border-radius: 50%;
  position: absolute;
  top: 65px;
  right: -70px;
}
.owl-carousel .owl-nav button.owl-next span {
  display: none;
}
.owl-carousel .owl-nav button.owl-next::before {
  font-family: "icomoon";
  content: "";
  color: #fff;
}
.owl-carousel .owl-dots {
  display: none;
}

@media (max-width: 1051px) {
  .owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev {
    display: none;
  }
}
.carousel-indicators {
  bottom: 0;
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 0;
}
@media (max-width: 768px) {
  .carousel-indicators {
    bottom: -60px;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  .carousel-indicators {
    bottom: 80px;
  }
}

.carousel-indicators [data-bs-target] {
  width: 14px;
  height: 14px;
  border-radius: 100%;
  background-color: #7DC1D1;
  margin: 0 15px;
}

@media (min-width: 320px) {
  .carousel-item {
    min-height: 450px !important;
  }
}
@media (min-width: 360px) {
  .carousel-item {
    min-height: 500px !important;
  }
}
@media (min-width: 375px) {
  .carousel-item {
    min-height: 550px !important;
  }
}
@media (min-width: 400px) {
  .carousel-item {
    min-height: 605px !important;
  }
}
@media (min-width: 768px) {
  .carousel-item {
    min-height: 800px !important;
  }
}
@media (max-height: 414px) {
  .fixed-bottom {
    top: 0;
    right: initial;
    bottom: 0;
    left: 0;
    width: 90px;
  }

  .navbar.footer-navbar {
    border-top-left-radius: 0;
    border-bottom-right-radius: 30px;
  }

  .page-with-footer section {
    padding-left: 87px;
  }
}
.badge {
  padding: 0;
  width: 29px;
  height: 29px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card {
  background: #F7F8FA;
  border-radius: 11px;
  border: none;
}
.card .card-header {
  background-image: url("../images/card-header-decor.png");
  background-image: url("../images/card-header-decor.png"), linear-gradient(90.1deg, #9BB5D1 6.71%, rgba(65, 88, 113, 0.91) 97.67%);
  border-bottom: none;
  color: #FFFFFF;
  border-radius: 11px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  padding: 20px 24px;
  font-family: "Futura Md BT";
  font-size: 18px !important;
}
.card .card-body {
  padding: 30px 14px;
}

.accordion-button {
  background-color: transparent !important;
  font-family: "Futura Md BT";
  font-size: 12px !important;
  color: #5A7591;
  padding: 0 0 15px 0;
}
.accordion-button span {
  font-size: 16px !important;
  padding-top: 6px;
}
.accordion-button:focus {
  box-shadow: none;
}
.accordion-button::after {
  font-family: "icomoon";
  content: "";
  color: #5a7591;
  background-image: none;
}

.accordion-button:not(.collapsed) {
  color: #5A7591;
  box-shadow: none;
}

.accordion-button:not(.collapsed)::after {
  background-image: none;
  margin-top: -7px;
}

.accordion-item {
  background-color: transparent !important;
  border: none;
}

.accordion-body {
  font-family: "Futura Md BT";
  color: #5A7591;
  font-size: 12px;
  line-height: 16px;
  padding: 4px 0 15px;
}

.styled-accordion .accordion-button {
  font-family: "Futura Lt BT";
  font-size: 16px !important;
  color: #15232B;
  padding: 0;
}
.styled-accordion .accordion-button::after {
  font-size: 10px;
  padding-top: 4px;
}
.styled-accordion .accordion-button:not(.collapsed) {
  color: #15232B;
}
.styled-accordion .accordion-body {
  font-family: "Futura Lt BT";
  font-size: 16px !important;
  background-color: #CFEBF1;
  border: 3px solid #7DC1D1;
  padding: 11px 20px;
  color: #15232B;
  border-radius: 16px;
}

.profile-accordion {
  border-radius: 16px;
}
.profile-accordion .accordion-header {
  padding: 10px 16px;
  border: 3px solid #FFFFFF;
  border-radius: 16px;
}
.profile-accordion .accordion-button {
  font-family: "Futura Lt BT";
  font-weight: 600;
  background-color: transparent !important;
  font-size: 16px !important;
  color: #15232B;
  padding: 0;
}
.profile-accordion .accordion-button span {
  font-size: 16px !important;
  padding-top: 6px;
}
.profile-accordion .accordion-button:focus {
  box-shadow: none;
}
.profile-accordion .accordion-button::after {
  font-family: "icomoon";
  content: "";
  color: #5a7591;
  font-size: 10px;
  background-image: none;
  padding-top: 4px;
}
.profile-accordion .accordion-body {
  padding: 24px;
  border-radius: 16px;
}

canvas.chartjs {
  background: #5A7591;
  border-radius: 20px;
}

.post-result-rating {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.read-more-link {
  font-size: 18px;
  font-weight: 500;
  color: #7DC1D1;
}
.read-more-link:hover {
  color: #7DC1D1;
}
.read-more-link::before, .read-more-link::after {
  font-family: "icomoon";
  content: "";
  color: #7DC1D1;
  font-size: 10px;
}
.read-more-link.collapsed::after, .read-more-link.collapsed::before {
  content: "";
}
.read-more-link .show-expanded {
  display: none;
}
.read-more-link .show-collapsed {
  display: inline-block;
}
.read-more-link.collapsed .show-expanded {
  display: inline-block;
}
.read-more-link.collapsed .show-collapsed {
  display: none;
}

.read-more-list {
  list-style-type: disc;
}
.read-more-list li {
  font-size: 14px;
  font-weight: 500;
  color: #FFFFFF;
  text-align: start;
  margin-bottom: 8px;
}
.read-more-list li::marker {
  color: #7DC1D1;
  font-size: 17px;
}

.orientation-card-list .card {
  border-radius: 30px;
  padding: 16px;
  background: #F7F8FA;
}

.tutorial .card-2 {
  margin-top: -60px;
  z-index: -1;
}
.tutorial .card-3 {
  margin-top: -60px;
  z-index: -2;
}
.tutorial .tutorial-text {
  font-weight: 600;
  font-size: 18px;
  color: #FFFFFF;
}
@media (min-width: 1200px) {
  .tutorial .tutorial-text {
    font-size: 24px !important;
  }
}

@media (orientation: landscape) and (max-width: 736px) {
  .col-xl-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }

  .orientation-card-list h4 {
    font-size: 9px !important;
  }
  .orientation-card-list .alert-circle-style {
    width: 23px;
    height: 23px;
  }
  .orientation-card-list .font-size-24 {
    font-size: 10px;
  }
  .orientation-card-list .card {
    border-radius: 15px;
    padding: 9px;
    background: #F7F8FA;
  }
  .orientation-card-list .card p {
    font-size: 6px;
  }

  .orientation-train-list .col-6 {
    flex: 0 0 auto;
    width: 25%;
  }
  .orientation-train-list .train-circle-style {
    width: 75px;
    height: 75px;
  }
  .orientation-train-list p {
    font-size: 7px !important;
    padding: 10px 0 14px 0 !important;
  }

  .col-sm-6 {
    flex: 0 0 auto;
    width: 42% !important;
  }

  .carousel-indicators [data-bs-target] {
    width: 5px;
    height: 5px;
    margin: 0 8px;
  }

  .carousel-item {
    min-height: 260px !important;
  }
  .carousel-item h1 {
    font-size: 16px !important;
  }
  .carousel-item p {
    font-size: 8px !important;
  }
  .carousel-item .w-75 {
    width: 50% !important;
  }

  .navbar.footer-navbar {
    z-index: 1000;
  }
}
@media (max-width: 992px) {
  .font-size-28 {
    font-size: 21px !important;
  }

  .font-size-39 {
    font-size: 30px !important;
  }
}
@media (min-width: 992px) {
  .btn {
    font-size: 24px !important;
  }

  p {
    font-size: 20px !important;
  }

  h1 {
    font-size: 42px !important;
  }

  h2 {
    font-size: 52px !important;
  }

  h4 {
    font-size: 24px !important;
  }

  .alert-info {
    font-size: 20px !important;
    line-height: 22px !important;
  }

  .font-size-20 {
    font-size: 36px !important;
  }

  .font-size-16 {
    font-size: 25px !important;
  }

  .font-size-14 {
    font-size: 24px !important;
  }

  .font-size-13 {
    font-size: 22px !important;
  }

  .font-size-12 {
    font-size: 20px !important;
  }

  .font-size-10 {
    font-size: 12px !important;
  }

  .navbar.footer-navbar a {
    font-size: 12px !important;
  }

  .navbar-light .navbar-nav .nav-link {
    font-size: 22px !important;
  }

  .circle-style {
    width: 120px;
    height: 120px;
  }

  .badge {
    width: 40px !important;
    height: 40px !important;
  }

  .circle-style::before {
    font-size: 40px;
  }

  .profile-bg {
    background: rgba(125, 193, 209, 0.2);
    border-radius: 25px;
    padding-top: 30px;
  }

  .read-more-list li {
    font-size: 26px !important;
  }

  .read-more-link {
    font-size: 36px !important;
  }
}
@media (max-width: 1200px) {
  .row-cols-5 .font-size-15 {
    font-size: 12px !important;
  }
}
@media (max-width: 414px) {
  .row-cols-5 .font-size-15 {
    font-size: 9px !important;
  }
}
@media (max-width: 375px) {
  .btn {
    font-size: 14px !important;
  }

  p {
    font-size: 12px !important;
  }

  h1 {
    font-size: 28px !important;
  }

  h2 {
    font-size: 23px !important;
  }

  h3 {
    font-size: 22px !important;
  }

  h4 {
    font-size: 18px !important;
  }

  .card .card-header {
    font-size: 14px !important;
  }

  .alert-info {
    font-size: 12px !important;
  }

  .train-circle-style {
    width: 80px;
    height: 80px;
  }

  .font-size-20 {
    font-size: 15px !important;
  }

  .font-size-16 {
    font-size: 12px !important;
  }

  .font-size-14 {
    font-size: 11px !important;
  }

  .font-size-13 {
    font-size: 10px !important;
  }

  .font-size-12 {
    font-size: 9px !important;
  }

  .font-size-10 {
    font-size: 7px !important;
  }

  .navbar.footer-navbar a {
    font-size: 12px !important;
  }

  .circle-style {
    width: 52px;
    height: 52px;
  }

  .styled-accordion .accordion-button {
    font-size: 12px !important;
  }

  .styled-accordion .accordion-body {
    font-size: 12px !important;
  }
}
.evaluation-cards-list .next-evaluation-link {
  position: absolute;
  top: 50%;
  margin-top: -12px;
  right: 1rem;
}

/*# sourceMappingURL=style.css.map */
