@import "./owl.carousel.min.css";
@import "./owl.theme.default.min.css";
@import "fonts.css";
@import "variables";
@import "progress";
body {
    font-family: 'Futura Lt BT', sans-serif;
    background-color: #395765;
}

a {
    text-decoration: none;
}

p {
    margin-bottom: 0;
    color: $black;
}

.main {
    background: linear-gradient(97.09deg, #132028 3.83%, #395765 98.1%);
}

.btn {
    font-size: 18px;
    border-radius: 72px;
    padding: 15px 35px;
    color: $white;
    border: none;
}

.btn-success {
    background-color: $springgreen;
    &:hover {
        background-color: $springgreen;
    }
}

.btn-check:focus+.btn-success,
.btn-success:focus {
    background-color: $springgreen;
    border: none;
    box-shadow: none;
}

.btn-secondary {
    background-color: $lightsteelblue;
}

.btn-info {
    background-color: $skyblue;
    &:hover {
        color: $white;
        background-color: $skyblue;
        border: none;
        box-shadow: none;
    }
}

.btn-check:focus+.btn-info,
.btn-info:focus {
    color: $white;
    background-color: $skyblue;
    border-color: $skyblue;
    box-shadow: none;
}

.btn-check:active+.btn-info:focus,
.btn-check:checked+.btn-info:focus,
.btn-info.active:focus,
.btn-info:active:focus,
.show>.btn-info.dropdown-toggle:focus {
    box-shadow: none;
}

.btn-white {
    padding: 13px 28px;
    background: #F7F8F9;
    border: 1px solid rgba(68, 173, 191, 0.2);
    border-radius: 61px;
    color: #606E7B;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.circle-style {
    margin: auto;
    background-color: $white;
    width: 68px;
    height: 68px;
    position: relative;
    img {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    &::before {
        position: absolute;
        top: -10px;
        right: 0;
        font-family: 'icomoon';
        content: "\e900";
        color: #32e28e;
        font-size: 24px;
    }
}

.alert-circle-style {
    background-color: $skyblue;
    width: 57px;
    height: 57px;
    position: relative;
    img {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

.train-circle-style {
    background-color: $white;
    width: 120px;
    height: 120px;
    position: relative;
    img {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

.alert-info {
    font-size: 14px;
    line-height: 18px;
    color: $black;
    background-color: $lightblue;
    border: none;
    border-radius: 30px;
}

.close {
    border: none!important;
    background-color: transparent!important;
    opacity: 1;
}

.heading-border-bottom {
    position: relative;
    padding-bottom: 28px;
    &::after {
        content: "";
        display: block;
        height: 7px;
        width: 167px;
        background-color: $skyblue;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        position: absolute;
        bottom: 0;
        left: 50%;
        margin-left: -92px;
    }
}

.descr-border-bottom {
    position: relative;
    padding-bottom: 20px;
    &::after {
        content: "";
        display: block;
        width: 199px;
        color: $skyblue;
        border-width: 1px;
        border-style: dashed solid;
        position: absolute;
        bottom: 0;
        left: 50%;
        margin-left: -92px;
    }
}

.modal-dialog {
    .modal-content {
        background: #F7F8F9;
        border-radius: 30px;
    }
}

.modal-dialog.progress-dialog {
    .modal-content {
        background: transparent;
        border: none;
    }
    -webkit-transform: none !important;
    transform: none !important;
}

.modal-backdrop {
    background: linear-gradient(97.09deg, #132028 3.83%, #395765 98.1%);
    background: rgba(34, 45, 55, 0.9);
    &.show {
        opacity: initial;
    }
}

.wifi {
    background: url("../images/wifi-bg.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.card-bg-style {
    background: linear-gradient(97.09deg, rgba(57, 75, 85, 0.9) 3.83%, rgba(57, 87, 101, 0.9) 98.1%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.form-control {
    font-family: 'Futura Lt BT';
    font-style: italic;
    font-weight: 300;
    border: 3px solid $white;
    border-radius: 6px;
    padding: 8px 17px;
    color: $black;
    &:focus {
        box-shadow: none;
        border-color: $skyblue!important;
    }
    &::placeholder {
        color: rgba(96, 110, 123, 0.5);
        opacity: 1;
    }
    &.active {
        border: 4px solid $skyblue;
    }
}

.form-label {
    font-family: 'Futura Lt BT';
    font-weight: 600;
    font-size: 16px;
    color: $white;
    margin-bottom: 4px;
}

textarea {
    resize: none;
}


/* Custom select */

.custom-select {
    position: relative;
    select {
        display: none;
    }
    .select-selected {
        background-color: $white;
        text-align: start;
        border: 3px solid $white;
        &::after {
            font-family: 'icomoon';
            content: "\e905";
            color: #5a7591;
            position: absolute;
            font-size: 10px;
            display: inline-block;
            padding: 3px;
            right: 15px;
            top: 15px;
        }
        &.select-arrow-active {
            border: 3px solid $skyblue;
        }
    }
    .select-arrow-active:after {
        transform: rotate( 180deg);
        top: 10px;
    }
    .select-items {
        position: absolute;
        background-color: $white;
        border-radius: 6px;
        text-align: start;
        top: 100%;
        left: 0;
        right: 0;
        z-index: 99;
        .same-as-selected {
            background-color: $powderblue;
        }
    }
    .select-items div,
    .select-selected {
        font-family: 'Futura Lt BT';
        font-weight: 300!important;
        font-size: 16px;
        color: #8C9090;
        padding: 8px 16px;
        border-radius: 6px;
        cursor: pointer;
        user-select: none;
    }
    .select-hide {
        display: none;
    }
}

.profile-select.custom-select .select-selected {
    background-color: $whitesmoke;
    border: 3px solid $whitesmoke;
}

.navbar.footer-navbar {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    a {
        font-weight: 600;
        color: $slategrey;
        font-size: 16px;
        text-decoration: none;
        &.active {
            color: $mediumturquoise;
        }
    }
}

.navbar-light .navbar-nav {
    flex-direction: row;
    .nav-link {
        color: $white;
    }
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show>.nav-link {
    color: $mediumturquoise;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: $white;
}

footer {
    background-image: url('../images/waves-white-big.png');
    background: url('../images/waves-white-big.png'), #3B4B5B;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.rounded-pill-30px {
    border-radius: 30px!important;
}

.rounded-pill-16px {
    border-radius: 16px;
}

.owl-carousel {
    .owl-nav button.owl-prev {
        background-image: none;
        width: 48px;
        height: 48px;
        background-color: $skyblue;
        border-radius: 50%;
        position: absolute;
        top: 65px;
        left: -70px;
        span {
            display: none;
        }
        &::before {
            font-family: 'icomoon';
            content: "\e90f";
            color: #fff;
        }
    }
    .owl-nav button.owl-next {
        background-image: none;
        width: 48px;
        height: 48px;
        background-color: $skyblue;
        border-radius: 50%;
        position: absolute;
        top: 65px;
        right: -70px;
        span {
            display: none;
        }
        &::before {
            font-family: 'icomoon';
            content: "\e906";
            color: #fff;
        }
    }
    .owl-dots {
        display: none;
    }
}

@media (max-width: 1051px) {
    .owl-carousel .owl-nav button.owl-next,
    .owl-carousel .owl-nav button.owl-prev {
        display: none;
    }
}

.carousel-control-prev {
    left: -100px;
    top: 20%;
    opacity: 1;
    @media (max-width: 414px) {
        left: -20px;
    }
    @media (min-width: 415px) and (max-width: 576px) {
        left: -35px;
    }
}

.carousel-control-next {
    right: -100px;
    top: 20%;
    opacity: 1;
    @media (max-width: 414px) {
        right: -20px;
    }
    @media (min-width: 415px) and (max-width: 576px) {
        right: -35px;
    }
}

.carousel-control-prev-icon {
    background-image: none;
    position: fixed;
    top: 50%;
    &::before {
        font-family: 'icomoon';
        content: "\e90f";
        color: #fff;
        font-size: 30px;
        @media (max-width: 575px) {
            font-size: 24px;
        }
    }
}

.carousel-control-next-icon {
    background-image: none;
    position: fixed;
    top: 50%;
    &::after {
        font-family: 'icomoon';
        content: "\e906";
        color: #fff;
        font-size: 30px;
        @media (max-width: 575px) {
            font-size: 24px;
        }
    }
}

.carousel-item {
    min-height: 85vh!important;
}

@media (min-width: 768px) {
    .carousel-item {
        min-height: 600px!important;
    }
}

@media (max-height: 414px) {
    .fixed-bottom {
        top: 0;
        right: initial;
        bottom: 0;
        left: 0;
        width: 90px;
    }
    .navbar.footer-navbar {
        border-top-left-radius: 0;
        border-bottom-right-radius: 30px;
    }
    .page-with-footer section {
        padding-left: 87px;
    }
}

.badge {
    padding: 0;
    width: 29px;
    height: 29px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card {
    background: $whitesmoke;
    border-radius: 11px;
    border: none;
    .card-header {
        background-image: url('../images/card-header-decor.png');
        background-image: url('../images/card-header-decor.png'), linear-gradient(90.1deg, #9BB5D1 6.71%, rgba(65, 88, 113, 0.91) 97.67%);
        border-bottom: none;
        color: $white;
        border-radius: 11px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        padding: 20px 24px;
        font-family: 'Futura Md BT';
        font-size: 18px!important;
    }
    .card-body {
        padding: 30px 14px;
    }
}

.accordion-button {
    background-color: transparent!important;
    font-family: 'Futura Md BT';
    font-size: 12px!important;
    color: $steelblue;
    padding: 0 0 15px 0;
    span {
        font-size: 16px!important;
        padding-top: 6px;
    }
    &:focus {
        box-shadow: none;
    }
    &::after {
        font-family: 'icomoon';
        content: "\e905";
        color: #5a7591;
        background-image: none;
    }
}

.accordion-button:not(.collapsed) {
    color: $steelblue;
    box-shadow: none;
}

.accordion-button:not(.collapsed)::after {
    background-image: none;
    margin-top: -7px;
}

.accordion-item {
    background-color: transparent!important;
    border: none;
}

.accordion-body {
    font-family: 'Futura Md BT';
    color: $steelblue;
    font-size: 12px;
    line-height: 16px;
    padding: 4px 0 15px;
}

.styled-accordion {
    .accordion-button {
        font-family: 'Futura Lt BT';
        font-size: 16px!important;
        color: $black;
        padding: 0;
        &::after {
            font-size: 10px;
            padding-top: 4px;
        }
    }
    .accordion-button:not(.collapsed) {
        color: $black;
    }
    .accordion-body {
        font-family: 'Futura Lt BT';
        font-size: 16px!important;
        background-color: $lightblue;
        border: 3px solid $skyblue;
        padding: 11px 20px;
        color: $black;
        border-radius: 16px;
    }
}

.profile-accordion {
    border-radius: 16px;
    .accordion-header {
        padding: 10px 16px;
        border: 3px solid $white;
        border-radius: 16px;
    }
    .accordion-button {
        font-family: 'Futura Lt BT';
        font-weight: 600;
        background-color: transparent!important;
        font-size: 16px!important;
        color: $black;
        padding: 0;
        span {
            font-size: 16px!important;
            padding-top: 6px;
        }
        &:focus {
            box-shadow: none;
        }
        &::after {
            font-family: 'icomoon';
            content: "\e905";
            color: #5a7591;
            font-size: 10px;
            background-image: none;
            padding-top: 4px;
        }
    }
    .accordion-body {
        padding: 24px;
        border-radius: 16px;
    }
}

canvas.chartjs {
    background: #5A7591;
    border-radius: 20px;
}

.post-result-rating {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.read-more-link {
    font-size: 18px;
    font-weight: 500;
    color: $skyblue;
    &:hover {
        color: $skyblue;
    }
    &::before,
    &::after {
        font-family: 'icomoon';
        content: "\e907";
        color: $skyblue;
        font-size: 10px;
    }
    &.collapsed::after,
    &.collapsed::before {
        content: "\e905";
    }
    .show-expanded {
        display: none;
    }
    .show-collapsed {
        display: inline-block;
    }
    &.collapsed {
        .show-expanded {
            display: inline-block;
        }
        .show-collapsed {
            display: none;
        }
    }
}

.read-more-list {
    list-style-type: disc;
    li {
        font-size: 14px;
        font-weight: 500;
        color: $white;
        text-align: start;
        margin-bottom: 8px;
        &::marker {
            color: $skyblue;
            font-size: 17px;
        }
    }
}

.orientation-card-list {
    .card {
        border-radius: 30px;
        padding: 16px;
        background: $whitesmoke;
    }
}

.tutorial {
    .card-2 {
        margin-top: -60px;
        z-index: -1;
    }
    .card-3 {
        margin-top: -60px;
        z-index: -2;
    }
    .tutorial-text {
        font-weight: 600;
        font-size: 18px;
        color: $white;
        @media (min-width: 992px) {
            font-size: 24px!important;
        }
    }
}

.carousel {
    min-height: calc(100vh - 84px);
}

.carousel-item {
    label {
        font-size: 18px;
    }
}

@media (orientation: landscape) and (max-width: 736px) {
    .carousel-control-prev {
        left: -70px;
    }
    .carousel-control-next {
        right: -70px;
    }
    .col-xl-4 {
        flex: 0 0 auto;
        width: 33.33333333%;
    }
    .col-6 {
        flex: 0 0 auto;
        width: 25%;
    }
    .tutorial-col-xl {
        flex: 0 0 auto;
        width: 90%;
    }
    .tutorial-col-md {
        flex: 0 0 auto;
        width: 58%;
    }
    .row-cols-5 {
        .font-size-15 {
            font-size: 4px!important;
        }
    }
    .tutorial .card-2 {
        margin-top: -33px;
    }
    .tutorial .card-3 {
        margin-top: -26px;
    }
    .tutorial-header {
        display: inline-block;
        margin-bottom: 0!important;
        margin-right: 4px;
    }
    .alert-circle-style {
        width: 20px;
        height: 20px;
        img {
            width: 10px;
        }
    }
    .carousel-control-prev-icon::before {
        font-size: 15px;
    }
    .carousel-control-next-icon::after {
        font-size: 15px;
    }
    .card .card-header {
        font-size: 8px!important;
        padding: 6px 10px;
    }
    .flex-grow-1 {
        .progress {
            height: 4px;
        }
        span {
            font-size: 5px;
        }
    }
    .progress-circle .progress-bar {
        border-width: 3px;
    }
    .progress-circle.progress-circle-primary:after {
        border-width: 3px;
    }
    .progress-circle.progress-circle-warning:after {
        border-width: 3px;
    }
    .progress-circle.progress {
        width: 18px;
        height: 18px!important;
    }
    .orientation-card-list {
        h4 {
            font-size: 16px!important;
        }
        .alert-circle-style {
            width: 32px;
            height: 32px;
        }
        .font-size-24 {
            font-size: 10px;
        }
        .card {
            border-radius: 15px;
            padding: 9px;
            background: $whitesmoke;
            p {
                font-size: 6px;
            }
        }
    }
    .orientation-train-list {
        .train-circle-style {
            width: 75px;
            height: 75px;
        }
        p {
            font-size: 7px!important;
            padding: 10px 0 14px 0!important;
        }
    }
    .col-sm-6 {
        flex: 0 0 auto;
        width: 42%!important;
    }
    .carousel-item {
        min-height: 70vh!important;
        h1 {
            font-size: 16px!important;
        }
        p {
            font-size: 12px!important;
        }
        label {
            font-size: 8px;
        }
        .font-size-13 {
            font-size: 7px!important;
        }
        .w-75 {
            width: 50%!important;
        }
        .border {
            border: 2px solid $skyblue!important;
        }
    }
    .navbar.footer-navbar {
        z-index: 1000;
    }
}

@media (orientation: landscape) and (max-width: 568px) {
    .carousel-control-prev {
        left: -20px;
    }
    .carousel-control-next {
        right: -20px;
    }
}

@media (max-width: 992px) {
    .font-size-28 {
        font-size: 21px !important;
    }
    .font-size-39 {
        font-size: 30px !important;
    }
}

@media (min-width: 992px) {
    .btn {
        font-size: 24px!important;
    }
    p {
        font-size: 20px!important;
    }
    h1 {
        font-size: 42px!important;
    }
    h2 {
        font-size: 52px!important;
    }
    h4 {
        font-size: 24px!important;
    }
    .alert-info {
        font-size: 20px!important;
        line-height: 22px!important;
    }
    .font-size-20 {
        font-size: 36px!important;
    }
    .font-size-16 {
        font-size: 25px!important;
    }
    .font-size-14 {
        font-size: 24px!important;
    }
    .font-size-13 {
        font-size: 22px!important;
    }
    .font-size-12 {
        font-size: 20px!important;
    }
    .font-size-10 {
        font-size: 12px!important;
    }
    .navbar.footer-navbar a {
        font-size: 12px!important;
    }
    .navbar-light .navbar-nav .nav-link {
        font-size: 22px!important;
    }
    .circle-style {
        width: 120px;
        height: 120px;
    }
    .badge {
        width: 40px!important;
        height: 40px!important;
    }
    .circle-style::before {
        font-size: 40px;
    }
    .profile-bg {
        background: rgba(125, 193, 209, 0.2);
        border-radius: 25px;
        padding-top: 30px;
    }
    .read-more-list li {
        font-size: 26px!important;
    }
    .read-more-link {
        font-size: 36px!important;
    }
}

@media (max-width: 1200px) {
    .row-cols-5 {
        .font-size-15 {
            font-size: 12px!important;
        }
    }
}

@media (max-width: 414px) {
    .row-cols-5 {
        .font-size-15 {
            font-size: 9px!important;
        }
    }

    .tutorial-col-xl {
        width: 95%;
    }
}

@media (max-width: 375px) {
    .btn {
        font-size: 14px!important;
    }
    p {
        font-size: 12px!important;
    }
    h1 {
        font-size: 28px!important;
    }
    h2 {
        font-size: 23px!important;
    }
    h3 {
        font-size: 22px!important;
    }
    h4 {
        font-size: 18px!important;
    }
    .card .card-header {
        font-size: 14px!important;
    }
    .alert-info {
        font-size: 12px!important;
    }
    .train-circle-style {
        width: 80px;
        height: 80px;
    }
    .font-size-20 {
        font-size: 15px!important;
    }
    .font-size-16 {
        font-size: 12px!important;
    }
    .font-size-14 {
        font-size: 11px!important;
    }
    .font-size-13 {
        font-size: 10px!important;
    }
    .font-size-12 {
        font-size: 9px!important;
    }
    .font-size-10 {
        font-size: 7px!important;
    }
    .navbar.footer-navbar a {
        font-size: 12px!important;
    }
    .circle-style {
        width: 52px;
        height: 52px;
    }
    .styled-accordion .accordion-button {
        font-size: 12px!important;
    }
    .styled-accordion .accordion-body {
        font-size: 12px!important;
    }
}

@media (max-width: 320px) {
    .tutorial-col-xl {
        width: 100%;
    }    
}

.evaluation-cards-list {
    .next-evaluation-link {
        position: absolute;
        top: 50%;
        margin-top: -12px;
        right: 1rem;
    }
}