$darkturquoise: #46AFC0;
$mediumturquoise: #44ADBF;
$skyblue: #7DC1D1;
$steelblue: #5A7591;
$slategrey: #3B4B5B;
$powderblue: #A4CFD8;
$lightblue: #CFEBF1;
$chocolate: #BF6F46;
$burlywood: #DBB091;
$lightsteelblue: #8F9FB1;
$lightslategrey: #606E7B;
$red: #EE2F3F;
$white: #FFFFFF;
$whitesmoke: #F7F8FA;
$black: #15232B;
$springgreen: #32E28E;
h1,
h2,
h3,
h4,
h5 {
    color: $white;
    margin-bottom: 0;
}

h1 {
    font-size: 36px;
}

h2 {
    font-family: 'Futura';
    font-size: 30px;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 24px;
}

.font-size-10 {
    font-size: 10px;
}

.font-size-12 {
    font-size: 12px;
}

.font-size-13 {
    font-size: 13px;
}

.font-size-16 {
    font-size: 16px!important;
}

.font-size-18 {
    font-size: 18px;
}

.font-size-20 {
    font-size: 20px;
}

.font-size-24 {
    font-size: 24px;
}

.font-size-28 {
    font-size: 28px;
}

.font-size-39 {
    font-size: 39px;
}

.text-info {
    color: $skyblue!important;
}

.text-dark {
    color: $black!important;
}

.text-primary {
    color: $steelblue!important;
}

.text-warning {
    color: $chocolate!important;
}

.bg-primary {
    background-color: $steelblue!important;
}

.bg-info {
    background-color: $skyblue!important;
}

.bg-progress {
    background-color: $mediumturquoise!important;
}

.bg-gold {
    background-color: #DFAD94!important;
}

.bg-progress-gold {
    background-color: #FBBB93!important;
}

.bg-warning {
    background-color: $chocolate!important;
}

.border-color-info {
    border-color: $mediumturquoise!important;
}

.border-color-warning {
    border-color: $chocolate!important;
}

.fw-bolder {
    font-family: 'Futura Md BT';
    font-weight: 500!important;
}

.pt-36px {
    padding-top: 36px;
}

.mt-42px {
    margin-top: 42px;
}

.pb-80px {
    padding-bottom: 80px;
}

.pb-140px {
    padding-bottom: 140px;
}

.mb-34px {
    margin-bottom: 34px;
}

.mt-98px {
    margin-top: 98px;
}