$darkturquoise: #46AFC0;
$skyblue: #7DC1D1;
$steelblue: #5A7591;
$slategrey: #3B4B5B;
$powderblue: #A4CFD8;
$chocolate: #BF6F46;
$burlywood: #DBB091;
$lightsteelblue: #8F9FB1;
$lightslategrey: #606E7B;
$red: #EE2F3F;
$white: #FFFFFF;
$black: #15232B;
$springgreen: #32E28E;
h1 {
    font-weight: bold;
    font-size: 30px;
    color: $white;
}

h2 {
    font-size: 28px;
    color: $white;
}

.font-size-10 {
    font-size: 10px;
}

.font-size-12 {
    font-size: 12px;
}

.font-size-13 {
    font-size: 13px;
}

.font-size-16 {
    font-size: 16px;
}

.font-size-18 {
    font-size: 18px;
}

.text-info {
    color: $skyblue!important;
}

.text-dark {
    color: $black!important;
}

.pt-36px {
    padding-top: 36px;
}

.mb-34px {
    margin-bottom: 34px;
}

.mt-98px {
    margin-top: 98px;
}